/* ==== Google font ==== */

@import url('http://fonts.googleapis.com/css?family=Lato:400,300,700,900');

/* === fontawesome === */

@import url('font-awesome.min.css');

/*==========================================================================
  General
  ========================================================================== */

#interestButton {
    -moz-box-shadow: -1px -1px 0px -1px #7dd041;
    -webkit-box-shadow: -1px -1px 0px -1px #7dd041;
    box-shadow: -1px -1px 0px -1px #7dd041;
    background-color: #7dd041;
    -moz-border-radius: 42px;
    -webkit-border-radius: 42px;
    border-radius: 42px;
    border: 1px solid;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 18px 35px;
    text-decoration: none;
    text-shadow: -1px 1px 0px #2f6627;
}

#interestButton:hover {
    background-color: #5cbf2a;
}

#interestButton:active {
    position: relative;
    top: 1px;
}

body {
    color: #777;
    background: #f7f7f7;
    font-size: 16px;
    line-height: 1.6em;
    font-weight: 300;
    text-shadow: none;
}

body,
h1,
h2,
h4,
h6,
.h1,
.h2,
.h4,
.h6 {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h4,
h6 {
    color: #222;
}

h1,
h2,
h4,
h6 {
    font-style: normal;
    margin: 0 0 20px 0;
}

h1 {
    font-size: 40px;
    line-height: 30px;
}

h2 {
    font-size: 32px;
}

h4 {
    font-size: 18px;
}

.text-bold {
    font-weight: 900;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a {
    color: #35A49C;
}

a:hover {
    text-decoration: none;
    color: #7dd041;
}

:focus {
    outline: none;
}


/*==========================================================================
  Misc & Adjust 
 ========================================================================== */

.row {
    z-index: 9999;
}

.content,
.container {
    overflow: hidden;
}

.color-white {
    color: #fff;
}

.align-center {
    text-align: center;
}


/* ---- margin --- */

.mar-bot40 {
    margin-bottom: 40px;
}


/*===========================
  --- Sections ----
=========================== */

section.section {
    margin: 0;
    padding: 80px 0 60px 0;
}

.bg-white {
    background-color: #fff;
}


/* --- section heading --- */

.section-header {
    text-align: center;
}

.section-header h2.section-heading {
    text-transform: uppercase;
    font-weight: 700;
}


/*===========================
  --- Header & menu ----
=========================== */

.navbar {
    line-height: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    display: block;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
}

.navbar .navbar-collapse {
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav li {
    height: 100%;
    line-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav>li>a {
    display: table-cell;
    height: 100%;
    line-height: 100%;
    vertical-align: middle;
    color: #fff;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.nav>li>a:hover {
    color: #7dd041;
    background: none;
}

.navbar-nav {
    float: right;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1 a.navbar-brand {
    font-size: 24px;
    color: #fff;
    font-weight: 900;
    text-shadow: none;
}

.navbar-brand {
    padding: 0;
    display: table-cell;
    vertical-align: middle;
    line-height: 90px;
}

.navbar-toggle {
    padding: 0;
    margin: 0;
    width: 80px;
}


/*===========================
  --- Featured section ----
=========================== */

section.featured {
    padding: 200px 0 200px;
    background-image: url("../img/soilInHand.jpg");
    background-size: cover;
    color: #fdfdfd;
}

section.featured h2.slogan {
    color: #fff;
    font-size: 48px;
    font-weight: 900;
}

section.featured h4 {
    color: #fff;
}


/*==========================
About
=========================== */

.member-photo {
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: 0 0 20px 0;
}

.member-photo img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.team-detail h4 {
    font-weight: 700;
}


/*===========================
  --- Contact ----
=========================== */

.validation {
    color: #35A49C;
    display: none;
    margin: 0 0 20px;
    font-weight: 400;
    font-size: 13px;
}

#sendmessage {
    border: 1px solid #fff;
    display: none;
    text-align: center;
    padding: 15px 12px 15px;
    margin: 10px 0;
    font-weight: 600;
    margin-bottom: 30px;
}

#sendmessage.show,
.show {
    display: block;
}

#contact-form {
    position: relative;
    z-index: 999;
}

#contact-form input[type=text],
#contact-form input[type=email],
.contactForm textarea {
    width: 100%;
    background: rgba(227, 231, 228, 1);
    font-family: 'Open Sans', sans serif;
    border: 0;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    padding: 0 10px;
}

#contact-form input[type=text]:focus,
#contact-form input[type=email]:focus,
.contactForm textarea:focus {
    background: rgba(101, 106, 100, 1);
    color: #eff1ef;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    transition: background 0.25 ease-in;
    -moz-transition: background 0.25 ease-in;
    -webkit-transition: background 0.25 ease-in;
}

#contact-form input[type=text],
#contact-form input[type=email] {
    height: 60px;
    margin-bottom: 30px;
}

#contact-form input[type=submit] {
    color: #fff;
    width: 185px;
    height: 60px;
    text-shadow: none;
    font-size: 14px;
    padding: 0.5em;
    letter-spacing: 0.05em;
    margin: 0 0 20px 0;
    display: block;
    border: 0;
    text-transform: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

#contact-form input[type=submit]:hover,
#contact-form input[type=submit]:active {
    background: #43413e !important;
}

#contact-form textarea {
    padding-top: 1em;
}

textarea.form-control {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

div.cform-response-output {
    max-width: 60%;
    text-align: center;
    margin-left: 40% !important;
    margin-top: 0.5em !important;
    padding: 0.5em !important;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}

.cform-not-valid-tip {
    color: #888;
    border: 1px dotted #ad3729 !important;
    width: 100% !important;
    left: 0 !important;
    padding: 0.5em !important;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
}


/*=========================
  Footer
 ================= */

section#footer {
    background: #242424;
    margin: 0;
}

section#footer .copyright {
    text-align: center;
}


/* footer social icons */

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}


/*===========================
  --- Template Components ----
=========================== */


/* footer social icons */

.social-network a.icoInstagram:hover {
    background-color: #417399;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    background: #7dd041;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/* ========================================
Media queries
========================================= */

@media (min-width: 959px) and (max-width: 1199px) {
    .navbar-nav {
        margin-top: 20px;
    }
}

@media only screen and (min-device-width: 979px) and (max-device-width: 1024px) {
    .navbar-nav {
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .navbar-nav {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .navbar.navbar-fixed-top {
        background-color: rgba(0, 0, 0, 1);
    }
    .navbar .navbar-collapse ul.nav {
        background-color: #444;
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
    .navbar .navbar-collapse ul.nav li {
        border-bottom: 1px solid #666;
    }
    section.featured {
        padding-top: 80px;
    }
    .team-member,
    .col-lg-4 {
        margin-bottom: 30px;
    }
}